@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
  font-family: 'Nunito', sans-serif;
}
.hero{
  min-height: 600px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  &__image{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    &__img{
      grid-column: 2;
    }
    &__hello{
      grid-column: 3;
    }
  }
  
  &__description{
    grid-column: 2;
    grid-row: 2;
  }
  &__mail{
    grid-column: 2;
    grid-row: 3;
    
    text-align: center;
  }
}



.skills{
  background-color: rgb(34, 116, 238);
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr) ;
  align-items: center;
  justify-items: center;
  color: white;
  &__title{
    grid-row: 1;
    grid-column: 2;
    
  }
  &__working{
    grid-row: 2;
    grid-column:1;
    &__emoji{
      font-size: 40px;
      text-align: center;
    }
    &__list{
      list-style: none;
      li:before {
        color: rgb(40, 233, 40);
        content: '✓  ';
      }
    }
    
  }
  &__know{
    grid-row: 2;
    grid-column:2;
    &__emoji{
      font-size: 40px;
      text-align: center;
    }
    &__list{
      list-style: none;
      li:before {
        color: rgb(40, 233, 40);
        content: '✓  ';
      }
    }
  }
  &__learn{
    grid-row: 2;
    grid-column: 3;
    &__emoji{
      font-size: 40px;
      text-align: center;
      
    }
  }
}
.projects{
  background-color: whitesmoke;
  min-height: 600px;

}
.contact{
  min-height: 400px;
  background-color: rgb(218, 218, 233);
}