@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
  font-family: 'Nunito', sans-serif;
}
.hero{
  margin-top: 50px;
  min-height: 300px;
  max-height: 800px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  
  align-items: center;
  justify-items: center;
  &__image{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    &__img{
      grid-column: 2;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
    &__hello{
      grid-column: 3;
      width: 110px;
      margin-left: 20px;
      background: #059cd8;
      padding: 20px;
      text-align: center;
      height: 15px;
      color: #fff;
      
      position: relative;
      

    }
    
  }

  .hero__image__hello::before{
      
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #059cd8;
    border-right: 10px solid transparent;
    border-top: 10px solid #059cd8;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
  
}
  
  &__description{
    grid-column: 2;
    grid-row: 2;
  }
  .hero__description::before{
    content: "{";
    font-size: 40px;
  }
  .hero__description::after{
    content: "}";
    font-size: 40px;
  }
  &__mail{
    grid-column: 2;
    grid-row: 4;
    background-color: rgb(0, 89, 255);
    color: wheat;
    text-align: center;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 250px;
    opacity: 1;
    
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
}



.skills{
  background-color: rgb(34, 116, 238);
  min-height: 300px;
  max-height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr) ;
  align-items: center;
  justify-items: center;
  color: white;
  &__title{
    grid-row: 1;
    grid-column: 2;
    
  }
  &__working{
    grid-row: 2;
    grid-column:1;
    &__emoji{
      font-size: 40px;
      text-align: center;
    }
    &__list{
      list-style: none;
      li:before {
        color: rgb(40, 233, 40);
        content: '✓  ';
      }
    }
    
  }
  &__know{
    grid-row: 2;
    grid-column:2;
    &__emoji{
      font-size: 40px;
      text-align: center;
    }
    &__list{
      list-style: none;
      li:before {
        color: rgb(40, 233, 40);
        content: '✓  ';
      }
    }
  }
  &__learn{
    grid-row: 2;
    grid-column: 3;
    &__emoji{
      font-size: 40px;
      text-align: center;
      
    }
  }
}
.projects{
  background-color: whitesmoke;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr) ;
  align-items: center;
  justify-items: center;
  &__title{
    grid-row: 1;
    grid-column: 2;
  }
  &__description{
    grid-row: 2;
    grid-column: 2;
  }


}
.contact{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr) ;
  min-height: 400px;
  background-color: rgb(218, 218, 233);
  align-items: center;
  justify-items: center;
  &__title{
    grid-row: 1;
    grid-column: 2;
  }
  &__description{
   grid-row: 2;
   grid-column: 2; 
  }
}